@page
@using Microsoft.Extensions.Localization
@using Secyud.Abp.CodeDocs.Web.Pages.CodeDocs
@using Secyud.Abp.Localization
@model Secyud.Abp.CodeDocs.Web.Pages.CodeDocs.IndexModel
@inject IStringLocalizer<CodeDocsResource> L

@{
}
<h1>CodeDocs</h1>
<p>@L["SamplePageMessage"]</p>
