<div class="masa-footbar-container">
    <div class="masa-footbar">
        <div class="masa-footbar-copyright">
            <span>@DateTime.UtcNow.Year©</span> 
            <a href="https://leptontheme.com/" target="_blank">Lepton Theme</a>
            <span>by</span>
            <a href="https://volosoft.com/" target="_blank">Volosoft</a>
        </div>
        <div class="masa-footbar-solo-links"> 
            <a href="#">About</a>
            <a href="#">Privacy</a>
            <a href="#">Contact</a>
        </div>
    </div>
</div>