#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
.lpx-brand-logo {
    background-image: url("images/logo/logo.png") !important;
}


.hover-trigger .lpx-sidebar-container:not(:hover) .lpx-brand-logo {
    background-image: url("images/logo/collapse-logo.png") !important;
}


.application {
    margin: 15px;
    width: 240px !important;
    height: 136px ;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    white-space: normal;
    overflow: hidden;
    float: left;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.application .col .card {
    background: transparent;
}
.application .col .card .card-body {
    margin-top: 62px;
    margin-left: 127px;
    padding-right: -7px;
    position: fixed;
}

.application:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.application:active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
}

.card .card-img-top {
    margin: 20px;
    margin-right: 5px;
    width: 80px;
    height: 80px;
    float: left;
}


/*.card .card-title {
    height: 20px;
    color: black;
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
*/
