@using Secyud.Abp.AspNetCore.Components.Web.MasaTheme.Components.ApplicationLayout.SideMenu.MainHeader
@using Secyud.Abp.AspNetCore.Components.Web.MasaTheme.Components.ApplicationLayout.SideMenu.Navigation
@using Secyud.Abp.AspNetCore.Components.Web.Theming.Components;
@inherits LayoutComponentBase
@implements IDisposable

<CascadingValue Value="@CascadingIsDark" Name="IsDark">
    <MApp>
        <MainHeader/>
        <MainMenu/>
        <div style="margin-top:48px;margin-left:64px;">
            @Body
        </div>
        <DynamicLayoutComponent/>
        <UiMessageAlert/>
        <UiNotificationAlert/>
    </MApp>
</CascadingValue>