@page
@using Microsoft.Extensions.Localization
@using MasaDemoApp.Localization
@using MasaDemoApp.Web.Pages.MasaDemoApp
@model MasaDemoApp.Web.Pages.MasaDemoApp.IndexModel
@inject IStringLocalizer<MasaDemoAppResource> L

@{
}
<h1>MasaDemoApp</h1>
<p>@L["SamplePageMessage"]</p>
