@page "/code-docs/browse/{Id:guid}"
@namespace Secyud.Abp.Pages.CodeDocsManagement
@inherits CodeDocsComponentBase

<MCard>
    <MCardTitle>
        @L["CodeClassBrowse"]
    </MCardTitle>
    <MCardText>
        @if (!CodeClassNameValues.IsNullOrEmpty())
        {
            foreach (var group in CodeClassNameValues)
            {
                <h6>@group.Key</h6>

                foreach (var link in group.Value)
                {
                    <a href="@NavUrl(link.Value)">@link.Name</a>
                    <br/>
                }
            }
        }
        else
        {
            <MProgressLinear Color="deep-purple accent-4"
                             Indeterminate
                             Rounded
                             Height="6">
            </MProgressLinear>
        }
    </MCardText>
</MCard>