@using System.Globalization
@if (HasLanguages)
{
    <MMenu OffsetY>
        <ActivatorContent>
            <MButton @attributes="@context.Attrs" Icon>
                <div class="fib">
                    <i class="fi fis fi-@(CurrentLanguage.FlagIcon) circled"></i>
                </div>
            </MButton>
        </ActivatorContent>
        <ChildContent>
            <MList Dense>
                @foreach (var language in Languages.Where(u => u.CultureName != CurrentLanguage.CultureName))
                {
                    <MListItem OnClick="@(() => LanguagePlatformManager.ChangeAsync(language))" Dense>
                        <MListItemIcon>
                            <div class="fib">
                                <i class="fi fis fi-@(language.FlagIcon) circled"></i>
                            </div>
                        </MListItemIcon>
                        <MListItemContent>
                            <MListItemTitle>
                                @language.DisplayName / @(new CultureInfo(language.CultureName).TwoLetterISOLanguageName.ToUpper())
                            </MListItemTitle>
                        </MListItemContent>
                    </MListItem>
                }
            </MList>
        </ChildContent>
    </MMenu>
}