table.dataTable {
  width: 100%;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  display: inline-block !important;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 5px;
  transition: color 0.3s;
  position: relative !important;
  bottom: 0px !important;
  right: 0.125rem !important;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
  display: none !important;
}
table.dataTable thead .sorting:after {
  content: "\f282" !important;
  color: var(--masa-content-text) !important;
}
table.dataTable thead .sorting_asc:after {
  content: "\f282" !important;
  color: var(--masa-brand) !important;
  opacity: 1 !important;
}
table.dataTable thead .sorting_desc:after {
  content: "\f286" !important;
  color: var(--masa-brand) !important;
  opacity: 1 !important;
}
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  content: "\f282" !important;
  color: var(--masa-content-text) !important;
  opacity: 0.15 !important;
}
table.dataTable thead .sorting {
  cursor: pointer !important;
}
table.dataTable thead th {
  border-bottom: 1px solid var(--masa-border-color);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
  color: rgba(var(--masa-content-text-rgb), 0.65);
  transition: color 0.3s;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.75px;
}
table.dataTable thead th.sorting:hover, table.dataTable thead th.sorting.sorting_asc, table.dataTable thead th.sorting.sorting_desc {
  color: var(--masa-content-text);
}
table.dataTable thead th .form-check-input {
  width: 18px;
  height: 18px;
}
table.dataTable thead td {
  padding: 0.5rem 1rem !important;
  border-bottom: 1px solid var(--masa-border-color);
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer !important;
  *cursor: hand !important;
  background: none !important;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  border-top: 1px solid var(--masa-border-color);
  padding: 0.5rem 1rem;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 0.3s, color 0.3s;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.75px;
}
table.dataTable tbody tr {
  background-color: var(--masa-card-bg);
}
table.dataTable tbody tr.selected {
  background-color: var(--masa-content-bg);
}
table.dataTable tbody tr th,
table.dataTable tbody tr td {
  border-color: var(--masa-border-color);
  padding: 0.875rem 1rem;
}
table.dataTable tbody tr th .btn,
table.dataTable tbody tr td .btn {
  padding: 0.375rem 0.75rem;
  font-size: 0.8em;
}
table.dataTable tbody tr td i.fa.fa-check {
  color: var(--masa-success);
}
table.dataTable tbody tr td i.fa.fa-times {
  color: var(--masa-danger);
}
table.dataTable td.dt-control {
  cursor: pointer;
}
table.dataTable td.dt-control:before {
  background-color: var(--masa-success);
  color: var(--masa-content-text);
  border: 0.15em solid var(--masa-border-color);
  border-radius: var(--masa-radius);
  box-shadow: var(--masa-shadow);
}
table.dataTable tr.dt-hasChild td.dt-control:before {
  content: "-";
  background-color: var(--masa-danger);
}
table.dataTable.row-border tbody tr {
  transition: background-color 0.2s;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td {
  border-top: none;
}
table.dataTable.row-border tbody tr th,
table.dataTable.row-border tbody tr td {
  border-top: 1px solid var(--masa-border-color);
  transition: background-color 0.2s;
}
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid var(--masa-border-color);
}
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background: none;
  font-weight: 400;
  color: var(--masa-card-title-text-color);
}
table.dataTable.display tbody tr:hover {
  background-color: var(--masa-content-bg) !important;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr:hover > .sorting_3 {
  background: none;
  color: var(--masa-card-title-text-color);
}
table.dataTable.display tbody tr:hover.selected {
  background-color: var(--masa-content-bg) !important;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.display tbody tr:hover.selected > .sorting_3 {
  background: none;
  color: var(--masa-card-title-text-color);
}
table.dataTable.display tbody tr.odd {
  background-color: rgba(var(--masa-content-bg-rgb), 0.35);
}
table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.display tbody tr.odd > .sorting_3 {
  background: none;
  color: var(--masa-card-title-text-color);
}
table.dataTable.display tbody tr.odd.selected {
  background-color: rgba(var(--masa-content-bg-rgb), 0.65);
}
table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable.display tbody tr.odd.selected > .sorting_2,
table.dataTable.display tbody tr.odd.selected > .sorting_3 {
  background: none;
  color: var(--masa-card-title-text-color);
}
table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background: none;
  color: var(--masa-card-title-text-color);
}
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.display tbody tr.even > .sorting_3 {
  background: none;
  color: var(--masa-card-title-text-color);
}
table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable.display tbody tr.even.selected > .sorting_2,
table.dataTable.display tbody tr.even.selected > .sorting_3 {
  background: none;
  color: var(--masa-card-title-text-color);
}
table.dataTable.cell-border tbody tr th,
table.dataTable.cell-border tbody tr td {
  border-top: 1px solid var(--masa-border-color);
  border-left: 1px solid var(--masa-border-color);
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-right: 1px solid var(--masa-border-color);
}
table.dataTable.stripe tbody tr.odd {
  background-color: rgba(var(--masa-content-bg-rgb), 0.35);
}
table.dataTable.stripe tbody tr.odd.selected {
  background-color: rgba(var(--masa-content-bg-rgb), 0.35);
}
table.dataTable.hover tbody tr:hover {
  background-color: rgba(var(--masa-content-bg-rgb), 0.35);
}
table.dataTable.hover tbody tr:hover.selected {
  background-color: var(--masa-content-bg);
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3 {
  background-color: var(--masa-card-bg);
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3 {
  background-color: var(--masa-content-bg);
}
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: rgba(var(--masa-content-bg-rgb), 0.35);
}
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: rgba(var(--masa-content-bg-rgb), 0.5);
}
table.dataTable.order-column.stripe tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: var(--masa-card-bg);
}
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: rgba(var(--masa-content-bg-rgb), 0.5);
}
table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: rgba(var(--masa-content-bg-rgb), 0.35);
}
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: rgba(var(--masa-content-bg-rgb), 0.5);
}
table.dataTable.no-footer {
  border-bottom: 1px solid var(--masa-border-color);
}
table.dataTable.compact thead th,
table.dataTable.compact thead td,
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td,
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 0.5rem 1rem;
}

.dataTables_wrapper {
  border-radius: var(--masa-radius);
  background: var(--masa-card-bg);
  box-shadow: var(--masa-shadow);
  padding: 1.5rem !important;
  width: 100%;
}
.dataTables_wrapper .dataTables_length {
  color: var(--masa-content-text);
}
.dataTables_wrapper .dataTables_length select {
  background-color: var(--masa-content-bg);
  border-radius: var(--masa-radius);
  transition: background-color 0.2s, border-color 0.4s;
  border-color: var(--masa-content-bg);
  padding: 0.375rem 0.75rem 0.375rem 3rem !important;
}
.dataTables_wrapper .dataTables_length select:hover, .dataTables_wrapper .dataTables_length select:focus {
  border-color: var(--masa-border-color);
}
.dataTables_wrapper .dataTables_length label {
  font-size: 0.875em;
}
.dataTables_wrapper .dataTables_filter {
  color: var(--masa-content-text);
  margin-bottom: 0;
}
.dataTables_wrapper .dataTables_filter input {
  background-color: var(--masa-content-bg);
  border-radius: var(--masa-radius);
  transition: background-color 0.2s, border-color 0.4s;
  border-color: var(--masa-content-bg);
  padding: 0.375rem 0.75rem !important;
}
.dataTables_wrapper .dataTables_filter input:hover, .dataTables_wrapper .dataTables_filter input:focus {
  border-color: var(--masa-border-color);
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: right;
  padding: 0.5rem 1rem !important;
  color: var(--masa-content-text);
  opacity: 0.65;
  font-size: 0.875em;
}
.dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: left;
  padding-top: 0;
  color: var(--masa-content-text);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-right: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: var(--masa-content-text);
  border: 1px solid transparent;
  border-radius: var(--masa-radius);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #fff !important;
  border: 1px solid var(--masa-border-color);
  background-color: var(--masa-card-bg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  border: 1px solid var(--masa-border-color);
  background-color: var(--masa-card-bg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: var(--masa-content-text);
  border: 1px solid var(--masa-border-color);
  background-color: var(--masa-card-bg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: var(--masa-content-text);
  border: 1px solid var(--masa-border-color);
  background-color: var(--masa-card-bg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100%;
  height: 40px;
  margin-right: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: var(--masa-content-bg);
  color: var(--masa-content-text);
}
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
  min-height: 285px;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th {
  vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td {
  vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th {
  vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper .dataTables_scroll th,
.dataTables_wrapper .dataTables_scroll td {
  white-space: nowrap;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable {
  border-bottom: none;
  table-layout: fixed;
}
.dataTables_wrapper.no-footer div.dataTables_scrollBody {
  border-bottom: 0 !important;
}
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
    margin-top: 0.5em;
  }
}

.dataTables_scrollBody table.dataTable thead th {
  border: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
}
.dataTables_scrollBody table.dataTable thead th:after {
  display: none !important;
}

.tab-content .dataTables_wrapper,
.card .dataTables_wrapper,
.modal-body .dataTables_wrapper {
  background: none;
  box-shadow: none;
  padding: 0 !important;
}

.dataTable tbody tr td div.dropdown ul.dropdown-menu li {
  padding: 0.3125rem 1.25rem;
}
.dataTable tbody tr td div.dropdown ul.dropdown-menu li:hover {
  background: var(--masa-content-bg);
  color: var(--masa-card-title-text-color);
}
.dataTable tbody tr td div.dropdown ul.dropdown-menu li:hover a {
  color: var(--masa-card-title-text-color);
}

.dataTable_footer {
  margin-top: 1em !important;
}

.dataTables_scroll {
  margin-bottom: 1em !important;
}

.swal-modal {
  border-radius: var(--masa-radius);
  box-shadow: var(--masa-shadow);
  border: 0;
  -webkit-animation: none !important;
  animation: none !important;
  transition: all 0.2s ease-in-out;
}
.swal-modal .swal-footer {
  padding: 1rem;
  margin-top: 30px;
  background: var(--masa-content-bg);
}
.swal-modal .swal-footer .swal-button-container {
  margin: 0;
}
.swal-modal .swal-footer .swal-button-container .swal-button {
  padding: 4px 12px;
  margin-right: 10px;
  color: #fff;
  background-color: var(--masa-primary);
  border-color: var(--masa-primary);
  border-radius: var(--masa-radius);
}
.swal-modal .swal-footer .swal-button-container .swal-button:hover, .swal-modal .swal-footer .swal-button-container .swal-button:focus, .swal-modal .swal-footer .swal-button-container .swal-button:active, .swal-modal .swal-footer .swal-button-container .swal-button:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: rgba(var(--masa-content-text-rgb), 0.1);
  border-color: rgba(var(--masa-content-text-rgb), 0.1);
  box-shadow: none;
}
.swal-modal .swal-title {
  font-size: 18px;
  color: var(--masa-content-text);
  word-break: break-word;
}
.swal-modal .swal-text {
  font-size: 14px;
  color: var(--masa-content-text);
  word-break: break-word;
}
.swal-modal .swal-icon {
  transform: scale(0.6);
  margin-bottom: -5px;
}

.swal-overlay {
  background: rgba(var(--masa-content-text-rgb), 0.1);
}

.datepicker table td {
  width: 40px;
  height: 40px;
  background: var(--masa-card-bg);
  border-radius: var(--masa-radius);
  font-size: 0.925em;
  border: none;
}
.datepicker table td:hover {
  background: var(--masa-border-color) !important;
}
.datepicker table td.active, .datepicker table td.selected {
  background: var(--masa-brand) !important;
  color: var(--masa-brand-text) !important;
}
.datepicker table td.active:hover, .datepicker table td.selected:hover {
  background: var(--masa-brand) !important;
}
.datepicker table td.range {
  background: var(--masa-border-color) !important;
  color: var(--masa-content-text) !important;
}
.datepicker table td.range:hover {
  background: var(--masa-border-color) !important;
}
.datepicker table th {
  width: 40px;
  height: 40px;
  border-radius: var(--masa-radius);
  border: none;
  font-size: 0.95em;
}

.swal2-popup {
  border-radius: var(--masa-radius) !important;
  background: var(--masa-card-bg) !important;
  color: var(--masa-content-text) !important;
}
.swal2-popup .swal2-title {
  color: var(--masa-card-title-text-color);
}
.swal2-popup .swal2-styled {
  border-radius: var(--masa-radius) !important;
}

#toast-container > div {
  opacity: 0.95 !important;
}
#toast-container .toast {
  border-radius: var(--masa-radius);
  box-shadow: var(--masa-shadow);
  color: var(--masa-content-text);
}
#toast-container .toast:hover {
  box-shadow: var(--masa-shadow);
}
#toast-container .toast.toast-success {
  background-color: var(--masa-success);
}
#toast-container .toast.toast-info {
  background-color: var(--masa-info);
}
#toast-container .toast.toast-error {
  background-color: var(--masa-danger);
}
#toast-container .toast.toast-warning {
  background-color: var(--masa-warning);
}
#toast-container .toast .toast-title {
  color: white;
  font-size: 1rem;
}
#toast-container .toast .toast-message {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
}
#toast-container .toast .toast-message a,
#toast-container .toast .toast-message a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
#toast-container .toast .toast-message .btn {
  background: var(--masa-light);
  border-color: var(--masa-light);
  color: var(--masa-dark);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem !important;
  font-size: 0.875rem;
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  left: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  left: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: rgba(var(--masa-navbar-text-color-rgb), 0.75);
}

.ps__thumb-y {
  background-color: rgba(var(--masa-navbar-text-color-rgb), 0.5);
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: var(--masa-navbar-color);
}

.ps__rail-y {
  right: auto !important;
}

.masa-scroll-container.ps:hover > .ps__rail-x,
.masa-scroll-container.ps:hover > .ps__rail-y, .masa-scroll-container.ps--focus > .ps__rail-x,
.masa-scroll-container.ps--focus > .ps__rail-y, .masa-scroll-container.ps--scrolling-x > .ps__rail-x,
.masa-scroll-container.ps--scrolling-x > .ps__rail-y, .masa-scroll-container.ps--scrolling-y > .ps__rail-x,
.masa-scroll-container.ps--scrolling-y > .ps__rail-y {
  opacity: 0.9 !important;
  z-index: 101;
}

.select2 {
  width: 100% !important;
}
.select2.select2-container--open .select2-selection {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'%20width%3D%22150%22%20height%3D%22150%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-chevron-up%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M7.646%204.646a.5.5%200%200%201%20.708%200l6%206a.5.5%200%200%201-.708.708L8%205.707l-5.646%205.647a.5.5%200%200%201-.708-.708l6-6z%22%2F%3E%0A%3C%2Fsvg%3E");
}
.select2 .select2-selection {
  background-color: var(--masa-content-bg);
  border: 2px solid var(--masa-content-bg);
  border-radius: var(--masa-radius);
  height: 46px !important;
  color: var(--masa-content-text) !important;
  z-index: 1056;
  padding: 0.675rem 1.25rem 0.675rem 3.75rem !important;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 500;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: left 1.25rem center;
  background-size: 16px 12px;
}
.select2 .select2-selection .select2-selection__arrow {
  display: none;
}
.select2 .select2-selection .select2-selection__rendered {
  display: inline-block !important;
  padding-right: 0 !important;
}
.select2 .select2-selection .select2-selection__rendered .select2-selection__choice {
  display: inline-block;
  margin-left: 10px;
  padding-left: 6px;
}
.select2 .select2-selection .select2-selection__rendered button.select2-selection__choice__remove {
  border: none;
  background-color: transparent;
}
.select2 .select2-selection span.select2-search.select2-search--inline {
  display: inline-block;
}
.select2 .select2-selection span.select2-search.select2-search--inline .select2-search__field {
  margin-top: 0 !important;
  height: 20px !important;
}
.select2 .select2-selection span.select2-search.select2-search--inline .select2-search__field::-webkit-input-placeholder {
  color: var(--masa-content-text) !important;
}
.select2 .select2-selection__clear {
  position: absolute;
  left: 40px;
}

.select2-search__field {
  outline: none !important;
  background-color: transparent !important;
}

.select2-dropdown {
  padding: 1rem 0 !important;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
  border: 0 !important;
  border-radius: 0.475rem !important;
  padding: 1rem 0 !important;
  z-index: 1056;
}
.select2-dropdown .select2-search--dropdown {
  padding: 4px 15px !important;
}
.select2-dropdown .select2-search--dropdown .select2-search__field {
  border-radius: var(--masa-radius) !important;
  border: 2px solid var(--masa-border-color) !important;
  background-color: var(--masa-card-bg) !important;
  padding-right: 10px !important;
}

.select2-results {
  padding-top: 1rem;
}
.select2-results .select2-results__options .select2-results__option {
  padding: 8px 18px !important;
}
.select2-results .select2-results__options .select2-results__option.select2-results__option--disabled {
  color: #999999;
}
.select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
  background-color: rgba(var(--masa-brand-rgb), 0.1) !important;
  color: var(--masa-brand) !important;
}

.input-group .input-group-text {
  padding: 0.4rem 0.9rem !important;
  font-size: 0.875rem;
  color: var(--masa-content-text) !important;
  background-color: var(--masa-card-bg) !important;
  border-radius: 0.475rem;
}
.input-group .select2-selection--single {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
}
.input-group.multiple .select2-selection {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: var(--masa-radius) !important;
  border-bottom-right-radius: var(--masa-radius) !important;
}

body.masa-theme-dark .input-group .input-group-text {
  background-color: var(--masa-card-bg) !important;
}

.dropzone {
  min-height: auto !important;
  text-align: center;
  border: 1px dashed var(--masa-primary) !important;
  background-color: rgba(var(--masa-primary-rgb), 0.03) !important;
  border-radius: 0.475rem !important;
}
.dropzone .dz-message {
  display: flex;
  align-items: center;
  margin: 0 !important;
}
.dropzone .dz-preview {
  margin: 0;
  border-radius: 15px;
}
.dropzone .dz-preview .dz-image {
  border-radius: 15px;
}
.dropzone .dz-remove {
  position: absolute;
  z-index: 25;
  top: -10px;
  left: -10px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  text-indent: -9999px;
  white-space: nowrap;
  background-size: 50%;
  background-color: var(--masa-text-white) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("../../../../assets/img/png/icon-close.png");
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
}

.jstree-default .jstree-anchor, .jstree-default .jstree-wholerow {
  border-radius: var(--masa-radius) !important;
}
.jstree-default .jstree-icon {
  background-image: url("/assets/img/backgrounds/32px.png") !important;
}
.jstree-default .jstree-hovered, .jstree-default .jstree-wholerow-hovered {
  background: var(--masa-secondary) !important;
  color: white !important;
}
.jstree-default .jstree-hovered .text-dark, .jstree-default .jstree-wholerow-hovered .text-dark {
  color: white !important;
}
.jstree-default .jstree-clicked, .jstree-default .jstree-wholerow-clicked {
  background: var(--masa-primary) !important;
  color: white !important;
}
.jstree-default .jstree-clicked .text-dark, .jstree-default .jstree-wholerow-clicked .text-dark {
  color: white !important;
}
.jstree-default .jstree-clicked:hover, .jstree-default .jstree-wholerow-clicked:hover {
  background: var(--masa-primary) !important;
  color: white !important;
}

.jstree-icon.bi {
  background-image: none !important;
}

.jstree-default > .jstree-no-dots .jstree-node, .jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent !important;
}

.apexcharts-yaxistooltip,
.apexcharts-xaxistooltip,
.apexcharts-tooltip,
.apexcharts-tooltip-title {
  color: var(--masa-content-text) !important;
  border-radius: var(--masa-radius) !important;
  background: var(--masa-content-bg) !important;
  border: 1px solid var(--masa-border-color) !important;
  box-shadow: none !important;
}

#pieChart .apexcharts-tooltip-y-group {
  color: var(--masa-text-white);
}

@media only screen and (max-width: 991px) {
  #masa-calendar .fc-header-toolbar {
    flex-direction: column;
  }
  #masa-calendar .fc-header-toolbar .fc-toolbar-title {
    margin: 20px 0;
  }
}
#masa-calendar .fc-toolbar-chunk:nth-child(2) div {
  display: flex;
  align-items: center;
}
#masa-calendar .fc-toolbar-chunk:nth-child(2) div button {
  background-color: transparent;
  border-color: transparent;
  color: var(--masa-dark);
  box-shadow: none;
}
#masa-calendar .fc-toolbar-chunk .fc-button-group {
  background-color: var(--masa-content-bg);
  border-radius: var(--masa-radius);
}
#masa-calendar .fc-toolbar-chunk .fc-button-group button.fc-timeGridWeek-button, #masa-calendar .fc-toolbar-chunk .fc-button-group button.fc-timeGridDay-button, #masa-calendar .fc-toolbar-chunk .fc-button-group button.fc-dayGridMonth-button {
  border-radius: var(--masa-radius);
  color: var(--masa-dark);
  background-color: var(--masa-content-bg);
  border-color: var(--masa-content-bg);
  padding: 11px 17px;
  box-shadow: none;
}
#masa-calendar .fc-toolbar-chunk .fc-button-group button.fc-timeGridWeek-button.fc-button-active, #masa-calendar .fc-toolbar-chunk .fc-button-group button.fc-timeGridDay-button.fc-button-active, #masa-calendar .fc-toolbar-chunk .fc-button-group button.fc-dayGridMonth-button.fc-button-active {
  background: rgba(var(--masa-content-text-rgb), 0.1);
}
#masa-calendar .fc-toolbar-chunk .fc-addEvent-button {
  background-color: var(--masa-brand);
  border-color: var(--masa-brand);
  box-shadow: none;
  padding: 5px 12px;
}
#masa-calendar table[role=grid] {
  border: none;
}
#masa-calendar table[role=grid] a {
  color: var(--masa-dark);
  text-decoration: none;
}
#masa-calendar table[role=grid] thead {
  background-color: var(--masa-content-bg);
}
#masa-calendar table[role=grid] thead th[role=columnheader] {
  border-color: var(--masa-content-bg);
}
#masa-calendar table[role=grid] thead th[role=presentation] {
  border-color: var(--masa-content-bg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px 0;
  overflow: hidden;
}
#masa-calendar table[role=grid] thead .fc-scrollgrid-sync-inner {
  padding: 10px 0;
}
#masa-calendar table[role=grid] tbody td {
  border: 1px solid var(--masa-content-bg);
}
#masa-calendar table[role=grid] tbody .fc-scroller {
  border-right: 1px solid var(--masa-content-bg);
}
#masa-calendar table[role=grid] tbody .fc-h-event .fc-event-title-container {
  padding: 2px 10px;
}
#masa-calendar table[role=grid] tbody .fc-daygrid-day-number {
  padding: 10px;
}

.editor-toolbar {
  border-color: var(--masa-border-color);
  background-color: var(--masa-content-bg);
  color: var(--masa-content-text);
  border-top-right-radius: var(--masa-radius);
  border-top-left-radius: var(--masa-radius);
}
.editor-toolbar button {
  color: var(--masa-content-text);
  background-color: var(--masa-content-bg);
}
.editor-toolbar button:hover {
  border-color: var(--masa-border-color);
  background-color: var(--masa-card-bg);
  color: var(--masa-card-title-text-color);
}
.editor-toolbar button.active {
  border-color: var(--masa-border-color);
  background-color: var(--masa-card-bg);
  color: var(--masa-card-title-text-color);
}
.editor-toolbar i.separator {
  border-color: var(--masa-border-color) !important;
  border-width: 0 0 0 1px !important;
}

.editor-statusbar {
  color: var(--masa-content-text);
}

.EasyMDEContainer .CodeMirror {
  border-color: var(--masa-border-color) !important;
  border-bottom-right-radius: var(--masa-radius);
  border-bottom-left-radius: var(--masa-radius);
  color: var(--masa-card-title-text-color);
  background-color: var(--masa-card-bg);
}

.CodeMirror-gutters {
  border-color: var(--masa-border-color);
  background-color: var(--masa-card-bg);
}

.CodeMirror > * {
  caret-color: var(--masa-content-text);
}

/*# sourceMappingURL=js-bundle.rtl.css.map */