@page "/MasaDemoApp"
@using Microsoft.Extensions.Localization
@using global::MasaDemoApp.Localization
@inject IStringLocalizer<MasaDemoAppResource> L
@{
}
<h1>MasaDemoApp</h1>
<p>@L["SamplePageMessage"]</p>