::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 3px 0 5px #c0c0c0;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px #808080;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #f8f8f8;
}

.circled{
    border-radius: 50%;
}
.fib{
    width: 24px;
    height: 24px;
}

.fi.fis{
    width: 100%;
    height: 100%;
    line-height: normal;
}