.error-page-container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    color: #081449;
    box-shadow: 0 0 30px rgb(8 20 73 / 10%);
    padding: 3em;
    border-radius: 4px;
    overflow: hidden;
}